@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {

    font-family: "basicSansNew";

    src: url("./Assets/fonts/basicSans-New.ttf");

}
@font-face {

    font-family: "HenrietteRegular";

    src: url("./Assets/fonts/Henriette-Regular.ttf");

}
@font-face {

    font-family: "basicSansRegular";

    src: url("./Assets/fonts/BasicSans-Regular.otf");

}

.map-container {
    height: 280px;
    /* margin-left: 20px;
    margin-right: 60px;
    width:50%; */
    border-radius:5px ;
}